@model WoWArmoryStore.Web.ViewModels.InputModels.CreateItemInputModel;
@{
    ViewData["Title"] = "CreateItem";
}
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Administration" asp-action="AddItem">
            <div class="form-group">

                <div class="row">
                    <div style="text-align: center; margin-bottom: 20px; color: black" class="col-md-12 display-3">Choose your Item Type</div>
                    <div class="col-md-12">
                        @foreach (var item in Enum.GetValues(typeof(WoWArmory.Data.Models.Enum.ItemTypes)))
                        {
                            <input readonly="readonly" asp-for="ItemSlots" style="width: 250px" value="@item" class="form-group ItemType" label="@item" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: center; margin-bottom: 20px; color: black" class="col-md-12 display-3">Choose your Item Material</div>
                    <div class="col-md-12">
                        @foreach (var item in Enum.GetValues(typeof(WoWArmory.Data.Models.Enum.Materials)))
                        {
                            <input readonly="readonly" asp-for="ArmorMaterial" style="width: 250px" value="@item" class="form-group ItemMaterial" label="@item" />
                        }
                    </div>
                </div>
                <div style="text-align: center; margin-bottom: 20px; color: black" class="col-md-12 display-3">Choose price for the item</div>
                <div class="centered">
                    <input type="number" min="0.1" class="centered priceInput" asp-for="Price">
                </div>

                <div style="text-align: center; margin-bottom: 20px; color: black" class="col-md-12 display-3">Add image url here</div>
                <div class="centered">
                    <input type="text" class="centered urlInput" asp-for="ImageUrl">
                </div>

                <div style="text-align: center; margin-bottom: 20px; color: black" class="col-md-12 display-3">Add Description for the item</div>
                <div class="centered">
                    <input type="text" class="centered descriptionInput" asp-for="Description">
                </div>

                <div style="text-align: center; margin-bottom: 20px; color: black" class="col-md-12 display-3">Finally Add ItemName for the item</div>
                <div class="centered">
                    <input type="text" class="centered itemNameInput" asp-for="ItemName">
                </div>
            </div>
            <div class=" centered">
                <button id="submitItemCreation" class="btn btn-warning itemCreation" type="button">Create item!</button>
            </div>
        </form>
    </div>
</div>

