
@{
    this.ViewData["Title"] = "Users Table";
    List<WoWArmoryStore.Web.ViewModels.ViewModels.UserViewModel> users = ViewBag.Users as List<WoWArmoryStore.Web.ViewModels.ViewModels.UserViewModel>;
}
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 centered">
                        <h2><b>Manage Store Users</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <button onclick="location.href = '/Hero/Faction'" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Hero</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>UserName</th>
                        <th>UserHeroes</th>                        
                    </tr>
                </thead>
                @foreach (var item in users)
                {
                    <tbody>
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.UserName</td>
                           <td>
                               <div class="dropdown">
                                   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Dropdown button
                                   </button>
                                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       @foreach (var hero in item.Heroes)
                                       {
                                           <a class="dropdown-item" href="#">@hero.HeroName</a>
                                       }
                                   </div>
                               </div>
                           </td>

                            <td>
                                <a class="btn btn-danger text-white" asp-controller="Administration" asp-action="DeleteUser"
                                   asp-route-id="@item.Id">Delete Hero</a>
                            </td>
                        </tr>

                    </tbody>
                }
            </table>
        </div>
    </div>
</body>                            		                            