
@{
    ViewData["Title"] = "ZeroUsers";
}

<body class="bg-img background-image">
<div class="centerdText text-md-center" style="color:white; padding-top: 7%">
    <h1>
        No registered users, Boss!
    </h1>

</div>
</body>


