
@{
    ViewData["Title"] = "ZeroItems";
}

<body class="bg-img background-image">
    <div class="centerdText text-md-center" style="color:white; padding-top: 7%">
        <h1>
            No items in our inventory, Boss!
        </h1>
        <div>
            <img src="https://s.aolcdn.com/hss/storage/midas/29eff61628af0a436d695d724d03b530/200240354/reagent-tab.jpg" alt="Alternate Text" />
        </div>
        <div>
            <h2>Maybe it's time to Add new one!</h2>
            <a href="/Administration/Administration/CreateItem" class="btn btn-success">Create new item</a>
        </div>
    </div>
</body>
