
@{
    ViewData["Title"] = "ZeroUsers";
}

<body class="bg-img" style="background-image: url(@ViewBag.image)">
</body>

<div class="centerdText text-md-center" style="color:white">
    <h1>
        No registered users Boss!
    </h1>

</div>
