
@{
    ViewData["Title"] = "ZeroHeroesForCurrentUser";
}
<body class="bg-img" style="background-image: url(@ViewBag.image)">
</body>

<div class="text-sm-center" style="color:white; padding-top: 150px">
    <h3>Oh no, you dont have any heroes in out site.</h3>
</div>
<div class="centerdText text-md-center" style="color:white; padding-top: 15px">
    <h1>
        Maybe now is the time to craete one
    </h1>
    <div class="col-md-12 centered" style="padding-top: 50px">
        <a href="/Hero/Faction" class="btn btn-success">Create Your Hero Now</a>
    </div>

</div>
